/auth/node_modules
/auth/build

/client/node_modules
/client/build
/client/.next

/common/node_modules
/common/build

/tickets/node_modules
/tickets/build

/nats-test/node_modules
/nats-test/build

/orders/node_modules
/orders/build

/expiration/node_modules
/expiration/build

/payments/node_modules
/payments/build